<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Backyard Waterpark Controller</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script>
        // Function that will be called when a toggle is clicked.  It will send a request to the server to toggle the light.
        function toggleLight(lightId) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    // Update the light status in the table.
                    var lightStatus = document.getElementById(lightId).innerHTML;
                    if (lightStatus == "Off") {
                        document.getElementById(lightId).innerHTML = "On";
                    } else {
                        document.getElementById(lightId).innerHTML = "Off";
                    }
                }
            };
            xhttp.open("GET", "/toggle?valve=" + lightId, true);
            xhttp.send();
        }

        function toggleLights() {
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/toggle?valve=0,1,2,3,4,5,6,7", true);
            xhttp.send();
        }

    </script>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Cornad.net</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Simple Backyard Waterpark Controller</h1>
        <h2>
            <span th:text="'Hello, ' + ${message}"></span>
        </h2>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Valve</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="valve : ${valves}">
            <td>${valve.name}</td>
            <td id="${valve.pin}">
                <button type="button" class="btn btn-primary" onclick="toggleLight(${valve.pin})">
                    <span th:text="'${valve.state}'"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-primary" onclick="toggleLights()">
        Toggle All
    </button>


</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>